<% include header %>

<div class="container text-center">
  <h1>Tracified Contact Tracer</h1>
  <p class="lead">
    We are providing a contact tracing solution for companies and their valued employees.
  </p>
</div>

<% include footer %>
