<% include header %>

<div class="container text-center">
  <h1>Tracified Contact Tracer</h1>
  <p class="lead">
    Share this page to your company employees
  </p>
  <button id="btnContactTracer" class="btn btn-success btn-block ">Join Tracified Contact Tracer</button>
</div>

<% include footer %>

<!-- Optional JavaScript -->

<script>
  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    return results[1] || 0;
  }
  $(document).ready(function () {
    console.log("ready!");
    $('#btnContactTracer').click(() => {
      window.location.replace("http://m.me/101757184804637?ref=" + $.urlParam('ref'));
    });
  });
</script>